<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="askquestion" [class.activated]="currentUrl == '/askquestion'">
        <i class="material-icons">question_answer</i>
      </a>
    </li>
    <li>
      <a routerLink="questionlist" [class.activated]="currentUrl == '/questionlist'">
        <i class="material-icons">format_list_bulleted</i>
      </a>
    </li>
  </ul>
</nav>
